
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

ol, ul {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}