#footer{
    text-align: center;
    opacity: .7;
    font-weight: 300;
    padding: 1rem 0;
    position: relative;
}

#footer::before{
    content: "";
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 30%;
    min-width: 300px;
    background: rgba(255 255 255 / 25%);
}