#header{
    padding-top: 24px;
    margin-bottom: 24px;
}

#main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}

.logo{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-right: 1rem;
}

.logo-text{
    text-transform: capitalize;
    position: relative;
    top: 1px;
    color: rgba(255 255 255 / 75%);
    font-size: .875rem;
}

.menu-link{
    position: relative;
    top: 2px;
    border-bottom: 1px solid transparent;
}

.menu-link:hover{
    border-color: #fff;
}