:root{
    /* VARS */
    --main-color: #001;
    --secondary-color: #fff;


    font-size: 16px;
    line-height: 1.5;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

*{
    color: inherit;
    text-decoration: inherit;
}

/* ==== Text ==== */

.title{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        height: 1px;
        width: 110%;
        background: rgba(255 255 255 / 25%);
        bottom: -.25rem;
        left: 0;
    }
}

h1.title{
    font-size: 2.25rem;
    font-weight: 600;
}

h2.title{
    font-size: 2rem;
    font-weight: 600;
}

h3.title{
    font-size: 1.75rem;
    font-weight: 600;
}

h4.title{
    font-size: 1.5rem;
    font-weight: 600;
}

h5.title{
    font-size: 1.25rem;
    font-weight: 600;
}

/* ==== Layout ==== */
.mb-0{
    margin-bottom: 0;
}

.mb-1{
    margin-bottom: .5rem;
}

.mb-2{
    margin-bottom: 1rem;
}

.mb-3{
    margin-bottom: 1.25rem;
}

.mb-4{
    margin-bottom: 1.5rem;
}

.mb-5{
    margin-bottom: 2rem;
}

.mb-6{
    margin-bottom: 4rem;
}