#home{
  margin-bottom: 24px;
  height: calc(100vh - 141px - 2rem);
}

#home::before{
  content: "";
  position: absolute;
  inset: 0;
  background: url("/home_bg.webp") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

#home::after{
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0 0 0 / 90%), rgba(0 0 0 / 20%), rgba(0 0 0 / 15%), rgba(0 0 0 / 35%), rgba(0 0 0 / 100%));
  z-index: -1;
}

.page-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title{
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.page-subtitle{
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 6rem;
}

.search-input{
  font-size: 1.25rem;
  width: 50%;
  padding: 1rem;
  margin: 0 auto;
  border: none;
  border-radius: 300px;
  color: var(--secondary-color);
  background: var(--main-color);
  opacity: .75;
  transition: opacity .15s ease-in;
}

.search-input::-webkit-search-cancel-button{
  appearance: none;
  background: var(--secondary-color) url("/close.webp") no-repeat center center;
  background-size: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.search-input:focus-visible{
  outline: none;
  opacity: 1;

}



