#movie-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.main-title{
    display: inline-block;
}

.card{
    background: var(--secondary-color);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
}

.image-container{
    overflow: hidden;
    position: relative;
}

.cover{
    width: 100%;
    height: auto;
    transition: transform .3s ease-in-out;
}

.card:hover .cover{
    transform: scale(1.25);
}

.cover-hover{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(0 0 0 / 85%);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    color: var(--secondary-color);
}

.cover-hover span{
    padding: 1rem 2rem;
    border: 2px solid var(--secondary-color);
}

.card:hover .cover-hover{
    opacity: 1;
}


.details{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.title{
    font-weight: 600;
}

.release-date{

}